<div class="container-fluid mt-5 about-style "id="aboutid">
       <div class="row">
           <div class="col-md-10 col-sm-12 mx-auto">
               <h1 class="text-center main-heading">About Us </h1>
               <p class="text-center sub-heading">grow your businees with us</p>
               <div class="row">
                   <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                       <figure>
                           <img src="images/about.svg" alt="herosection_images">
                       </figure>
                   </div>
                   {{!-- right side --}}
                   <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
                       <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
                       
                       <P>Welcome To <span class="bold-style">Our Team</span>,Your Number One Source For All Thnigs.We're Delicated To Giving You The Very Best of Your Work,With A Focus On [Three Charactertistics,ie.Dependability , Customer Services and Uniqueness].</P>
                       <button class="btn-style btn-primary">Read More</button>
                   </div>
               </div>

           </div>
       </div>
   </div>